*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
    outline: none;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}


.admin-content{
    padding-top:  50px;
    display: flex;
}
.admin-content-right{
    width: 100%;
    padding: 30px 0 0 12px;

}
.admin-content-right-cartegory-add input{
    height: 30px;
    width: 200px;
    padding-left: 12px;
    margin-top: 20px;
    border: 1px solid black;
}
.admin-content-right-cartegory-add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
}
.admin-content-right-cartegory-add button:hover{
    background-color: transparent;
    border:  1px solid brown;
    color: brown;
}
/* * -------------Cartegory_List--------------- */
.admin-content-right-cartegory-list table{
    width: 100%;
    text-align: center;

}
.admin-content-right-cartegory-list table tr th, td{
    border:  1px solid #dddddd;
}
table{
    border-collapse: collapse;
}
/* * --------------Product--------------------- */
.admin-content-right-product-add input, select{
    width: 200px;
    height: 30px;
    display: block;
    margin: 6px 0 12px;
    padding-left: 12px;
    border: 1px solid black;
}
.admin-content-right-product-add textarea{
    display: block;
    height: 200px;
    width: 500px;
    margin-bottom: 12px;
}
.admin-content-right-product-add button{
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 100px;
    cursor: pointer;
    background-color: brown;
    border: none;
    color: white;
}
.admin-content-right-product-add button:hover{
    background-color: transparent;
    border:  1px solid brown;
    color: brown;
}
.product_size{
    display: none;
}
:root{
    --main-text-font: Arial, Helvetica, sans-serif;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
    --black:#130f40;
    --red: rgb(195,0,5);
    --light-color: #666;
    --blue: rgb(30, 30, 168);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}


section {
    padding: 1rem 9%;
}
body {
    background: white;
}
/*------------------ HEADER ------------------ */
.header{
    /* position: fixed; */
    top:0; 
    left:0; 
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-weight: bolder;
    color: blue;
    margin-right: 2rem;
}


.header .logo i {
    color: red;
}
.header .navbar {

    flex: auto;
    justify-content: space-evenly;
}

.header .navbar a {
    font-size: 1.3rem;
    margin:0 1rem;
    color: black;
    text-decoration: none !important;
}

.header .navbar a:hover {
    color: red;
}

.header .rightHeader div {
    height: 4rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background: rgb(121, 118, 118);
    color: black;
    font-size: 2rem;
    margin-left: .3rem;
    cursor: pointer;
    text-align: center;
}

.header .rightHeader div:hover{
    background: red;
    color: #fff;
}
